--extra-index-url https://download.pytorch.org/whl/cpu
torch --index-url https://download.pytorch.org/whl/cpu
fastapi==0.116.1
uvicorn[standard]==0.35.0
llama-index==0.12.52
llama-index-embeddings-huggingface
llama-index-llms-groq
langchain-groq
python-dotenv==1.1.1
pypdf==5.9.0
sentence-transformers
